<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Product</title>
</head>
<body>
<h1>Add Product</h1>
<form action="#" th:action="@{/products/add}" th:object="${productDto}" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}" /><br/>

    <label for="price">Price:</label>
    <input type="number" id="price" th:field="*{price}" /><br/>

    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" th:field="*{quantity}" /><br/>

    <label for="country">Country:</label>
    <input type="text" id="country" th:field="*{country}" /><br/>

    <button type="submit">Add Product</button>
</form>
</body>
</html>
